.container-fluid {
    /* padding: 10px 40px 41px 8px; Adjusted padding for better responsiveness */
    color: black;

    display: block;
    justify-items: center;
    overflow-x: hidden;
}









/* Tablet view (up to 768px) */
@media screen and (max-width: 768px) {
    .container-fluid {
        width: 100%;
        height: auto;
    }
}