<section class="about-container">
    <div class="card">
        <div class="left-section">
            <img src="/1.png" alt="">
        </div>
        <div class="right-section">
            <h2>
                Together for Success
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti fugiat officia nihil, quibusdam
                ratione consectetur enim iste sunt quis reprehenderit temporibus? Exercitationem sint illum numquam
                inventore aliquam iure officia animi, est placeat, modi vero molestiae repellendus deserunt cum cumque
                quos provident nostrum rerum sapiente? Modi veritatis facere sint voluptates eaque!
            </p>
        </div>
    </div>





    <!-- Impact in Numbers -->
    <div class="impact">
        <div class="left-section">
            <h2>
                Our Impact In Numbers
            </h2>
        </div>
        <div class="right-section">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique dolorum porro magni aperiam quisquam
                exercitationem debitis quam voluptas consequatur ducimus!
            </p>
        </div>
    </div>



    <!--  Number of the Impact Section -->
    <div class="impact-container">
        <!-- First Number Section -->
        <div class="number1">
            <h3>100+</h3>
            <p>Projects Completed</p>
        </div>

        <!-- second Number Section -->
        <div class="number2">
            <h3>100+</h3>
            <p>Projects Completed</p>
        </div>

        <!--  Third Number Section -->
        <div class="number3">
            <h3>200+</h3>
            <p>Clients Served</p>
        </div>


        <!-- Fourth Number Section -->
        <div class="number4">
            <h3>200+</h3>
            <p>Clients Served</p>
        </div>


    </div>
</section>