<div class="footer-container">
    <div class="first-section">
        <div class="top-header">
            <div class="logo-section">
                <img src="/2.jpg" alt="Logo">
                <h2>KU-ProtFolio</h2>
            </div>


            <!-- Middle Section -->
            <div class="middle-section">
                <p> <a href=""> About </a></p>
                <p> <a href=""> Services </a></p>
                <p> <a href=""> Use Cases </a></p>
                <p> <a href=""> Pricing </a></p>
                <p> <a href=""> Blog </a></p>
            </div>



            <!--  End Sectioin  -->
            <div class="end-section">
                <p> LinkedIn </p>
                <p> Facebook</p>
                <p> Twitter</p>
            </div>
        </div>
    </div>




    <div class="second-section">
        <!-- Left Section  -->
        <div class="left-section">
            <button> Contact Us </button>
            <p class="Email"> Email : KaleemUllh1234gmail.com</p>
            <p class="Phone"> Phone : +92 316 9634937 </p>
            <p class="Address"> Address : Shergarh Mardan KPK Pakstan</p>
        </div>

        <!--  Right Section  -->
        <div class="right-section">
            <div class="form">
                <input type="email" id="email" name="email" placeholder=" Email " required>
                <button> Subscribe to news </button>
            </div>
        </div>
    </div>



    <!--  Third Section -->
    <div class="third-section">
        <div class="line-section">
            <div class="horizentol-line"></div>
        </div>

        <div class="end-section">
            <div class="paragraphs">
                <!-- <p> &#64;2023 All rights Reserved </p> -->
                <p> {{ Email }}</p>
                <p> <a href="/"> Privacy Policy </a></p>
            </div>
        </div>
    </div>
</div>