
.navbar{
    padding: 0px 120px 0px 70px;
    height: 60px;
    background-color: rgb(15,7,21) !important;
    position: sticky;
    top: 0;
    left: 0;
}
a{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: color   0.3 ease-in-out;
}

.navbar-nav .nav-link {
    position: relative;
    display: inline-block; /* Ensures width matches the text */
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease-in-out;
    padding-bottom: 5px; /* Space between text and border */
    margin-left: 20px;
}

.navbar-nav .nav-link:hover {
    color: blue;
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: yellow;
    transition: width 0.4s ease-in-out, right 0.4s ease-in-out;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
    right: 0;
    left: 0;
}



@media screen and (max-width : 800px) {
    /* .navbar-brand{
        background-color: red;
    } */
    .navbar .navbar-toggler{
        margin-right: -80px;
    }
    .navbar .collapse{
        background-color: white;
    }
    .navbar .collapse .nav-item .nav-link{
        color: black;
    }
}