<div class="services-container">
    <div class="image-container" >
        <div class="col-lg-12 col-md-12 col-12 rows" #animatedSection>
            <div class="images">
                <img src="customer.png" alt="Web Development Container ">
                <h3>Web Application </h3>
                <p>Tailored web apps built with the latest technologies.</p>
            </div>
            <div class="images">
                <img src="customer.png" alt="Web Development Container ">
                <h3>DotNet Core  </h3>
                <p>Secure Application with the help of Dotnet Core</p>
            </div>
            <div class="images">
                <img src="customer.png" alt="Web Development Container ">
                <h3>API Integration </h3>
                <p>Seamless integration for smooth data sharing and functionality In Angular.</p>
            </div>
            <div class="images">
                <img src="customer.png" alt="Web Development Container ">
                <h3>User Interfaces</h3>
                <p>Engaging, responsive front-end designs for better user experiences.</p>
            </div>
        </div>
    </div>
</div>