.image-container {
    width: 100%;
    height: auto;

    animation: appear 2s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;


}

.image-container .rows {
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap onto multiple rows */
    justify-content: center;
    /* Center items horizontally */
    gap: 20px;
    /* Consistent gap between items */
}

.image-container .rows .images {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    background-color: rgb(129, 76, 237);
    margin: 0px 20px 0px 10px;
    padding: 0px 20px 0px 20px;
    border-radius: 8px;
    flex: 1 calc(20% - 20px);
    box-sizing: border-box;
}

.image-container .rows .images img {
    width: 50px;
    margin: 20px 0px 20px 10px;
}

.image-container .rows .images h3 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.image-container .rows .images p {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
















@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(32px);
    }

    to {
        opacity: 1;
        transform: translatex(0px);
    }
}







/* Responsive Adjustments */

/* For screens less than 992px: 2 items per row */

@media screen and (max-width: 1130px) {
    .image-container .rows .images {
        flex: 1 1 calc(30% - 20px);
    }
}


@media screen and (max-width: 992px) {
    .image-container .rows .images {
        flex: 1 1 calc(50% - 20px);
    }
}

@media screen and (max-width: 700px) {
    .image-container .rows .images {
        flex: 1 1 calc(100% - 20px);
    }
}

/* For screens less than 576px: 1 item per row */
@media screen and (max-width: 576px) {
    .image-container .rows .images {
        flex: 1 1 100%;
        /* background-color: red; */
    }
}



@media screen and (max-width : 470px) {
    .image-container .rows {
        width: 100%;
        /* background-color: blue; */
        margin-left: -50px;
        padding: 0;
    }
}

@media screen and (max-width : 396px) {
    .image-container .rows {
        width: 100%;
        /* background-color: blue; */
        margin-left: 0px;
        padding: 0;
    }
}