<div class="projects-container">
    <div class="image-container">
        <div class="col-lg-12 col-md-12 col-12 rows" #animatedSection>
            <div class="images">
                <div class="place-image">
                    <img src="salman.png" alt="Web Development Container ">
                </div>
            </div>
            <div class="images">
                <div class="place-image">
                    <img src="kaleemUllah.jpeg" alt="Web Development Container ">
                </div>
            </div>
            <div class="images">
                <div class="place-image">
                    <img src="kaleemUllah.jpeg" alt="Web Development Container ">
                </div>
            </div>
        </div>
    </div>
</div>



<!-- https://youtu.be/kfXy4W0aD40?si=4AaPgrGBUo8QZqUg -->