.about-left{
   width: 100%;
   height: auto;
}
.about-left  h2{
    font-size: 53px;
    font-weight: 600;
    color: rgb(171,133,249);
    font-family:serif;
    margin-top: -90px;
}

.about-left p{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: rgb(148,155,166);
    font-family:serif;
    text-align: justify;
}

.about-left h3{
    font-size: 22px;
    font-weight: 400;
    color: rgb(209, 213, 219);
    font-family:serif;
}



@media screen and (max-width: 1100px) {
    .about-left{
        margin: 20% 0px 0px 0px;
    }
}

/* @media screen and (max-width : 470px) {
    .about-left{
        width: 100%;
        background-color: red;
    }
} */