<div class="container-flud">
    <div class="row name-section">
        <p class="heading">I am Sajal</p>
        <h2>
            Full Stack Web  Developer
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit porro numquam ad, vero consequuntur aperiam
            cumque voluptatum pariatur veniam? Qui facilis est ipsam odio cum!
        </p>
        <button class="btn btn-primary download-button">Download CV<i class="fa fa-download"></i></button>
    </div>
</div>