<div class="container-fluid">
    <div class="row about-rightContainer" #animatedSection>
        <div class="col-lg-12 col-md-12  rows-container">
            <div class="image-container">
                <img src="customer.png" alt="">
                <h3> 50+</h3>
                <p> Satisfied Customers</p>
            </div>
            <div class="image-container">
                <img src="experience.png" alt="">
                <h3> 3+</h3>
                <p> Satisfied Customers</p>
            </div>
        </div>

        <div class="col-lg-12 col-md-12  rows-container">
            <div class="image-container">
                <img src="completed.png" alt="">
                <h3> 200+</h3>
                <p> Satisfied Customers</p>
            </div>
            <div class="image-container">
                <img src="rocket.png" alt="">
                <h3> 100+</h3>
                <p> Satisfied Customers</p>
            </div>
        </div>



        <!-- <div class="card">
            <div class="img-container">
                <img src="customer.png" alt=" Customer PNG">
                <p>50+</p>
                <h4> 50+</h4>
            </div>
        </div>
        <div class="card">
            <div class="img-container">
                <img src="customer.png" alt=" Customer PNG">
                <p>50+</p>
                <h4> Satisfied Customers </h4>
            </div>
        </div>
        <div class="card">
            <div class="img-container">
                <img src="customer.png" alt=" Customer PNG">
                <p>50+</p>
                <h4> Satisfied Customers </h4>
            </div>
        </div> -->
    </div>
</div>